<?php
/*
 * example of configuration parameters
 */
$leetchiBaseURL = "https://api-preprod.leetchi.com/";
$partnerID = "aPartnerID";
$privateKeyFile = dirname(__FILE__) . "/aprivateKeyFile.pem";
$privateKeyPassword = "aPassword";
?>
